Package: com.ihack102.snapoldstory
Name: SnapOldStory
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: iHack102
Author: iHack102
Section: Tweaks
